.headerContainer {
    .header {
        background-image: url(
            "/src/assets/images/background.jpg"
        );
        background-size: cover;
        background-attachment: ceil($number: 5);
        height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:start;
        
        .headerRow {
            height: 100px;
            margin: 0;
            padding: 0 10%;
            align-items: center;

            .navLink {
                padding: 20px 0;
                a {
                    font-weight: 300;
                    border-radius: 20px;
                    padding: 5px 10px;
                    text-decoration: none;
                    transition: all 0.5s ease-out;
                    color: white;

                    &:hover{
                        background-color: transparent;
                        color: $primary;
                        border: 1px solid $primary;
                    }
                }
            }
            nav {
                height: 100px;
                padding: 10px;
            }
        }
        .titlePage {
            height: 600px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 32px;
            margin-top: 6%;
            
            h1 {
                font-weight: 500;
                font-size: 80px;
            }
            
            h3{
                font-weight: 300;
            }

            p{
                font-weight: 700;
            }

            .calc {
                border: 2px solid #8ebd0e88;
                border-radius: 20px;
                transition: all 0.5s ease-out;
                &:hover {
                    background-color: rgba(255, 255, 255, 0);
                    color: $primary;
                }
            }
        }
    }
}